<nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling navbar" style="background-color: #7d3c98;">
    <h3><span style="font-family: 'Lobster', cursive; color: white;"> QuizEngine </span></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngIf="isLoggedIn">
                <a class="nav-link" class=" btn" style="background-color: #7d3c98" href="user"><span style="color:white"> All Quizes </span><span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" *ngIf="isLoggedIn">
                <a class="nav-link" class=" btn" style="background-color: #7d3c98" href="/viewScores"><span style="color:white"> Your Results </span></a>
            </li>


            <li class="nav-item active" *ngIf="isLoggedIn && isAdmin">
                <a class="nav-link" class=" btn btn-deep-purple" href="createQuiz"><span style="color:white"> Create Quiz </span></a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
      
      <button *ngIf="isLoggedIn" class="btn btn-outline my-2 my-sm-0" type="submit" (click)='auth.signOut()'><span style="color:white;background-color: #7d3c98" > SignOut </span></button>
    </form>
    
    </div>
    
</nav>