.myclass {
  display: flex;
  margin: 5%;
  padding: 5%;
  width: 1200px;
  background-color:rgb(250, 249, 244);
}

button{
    height: 40px;
    width: 120px;
}
h4{
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: rgb(250, 249, 244);
}
